!!!
%html{lang: :pl}
  %head
    %meta{charset: 'utf-8'}
    %title= yield(:title)
    %meta{content: @page_description||'InchefApp', name: 'description'}
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    = csrf_meta_tags
    = csp_meta_tag

    -#%link{rel: 'shortcut icon', href: asset_path('favicon.ico'), type: 'image/x-icon'}

    -#= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', media: 'all'
    -#= stylesheet_link_tag '//use.fontawesome.com/releases/v5.8.1/css/all.css', media: 'all'
    -#= stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin,latin-ext', media: 'all'
    -#= stylesheet_link_tag '//fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext', media: 'all'
    -# = stylesheet_link_tag '//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css', media: 'all'
    -#= stylesheet_link_tag 'admin/application', media: 'all'
    -#= js_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js'
    -#= js_include_tag '//code.jquery.com/jquery-3.0.0.min.js'
    -#= javascript_include_tag '//code.jquery.com/jquery-3.2.1.slim.min.js', 'data-turbolinks-track' => true
    -#= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js', 'data-turbolinks-track' => true
    -#= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js', 'data-turbolinks-track' => true

    -#:javascript
    -#  if(!(window.Promise&&[].includes&&Object.assign&&window.Map)){
    -#    document.write('<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></scr'+'ipt>')}
    -#= js_include_tag '//cdn.polyfill.io/v2/polyfill.min.js'
    -#= js_include_tag 'admin/application'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    = javascript_pack_tag 'hello-world-bundle'

  %body
    .container.centerize
      .page-content.clearfix
        -#= render partial: 'shared/flash', locals: { flash: flash }
        = yield
      -#:javascript
        // $(document).ready(loadOnLoad)

    -#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

